// Default layout style. could be removed or changed in further
// No script message
.no-script-msg {
  @include font-size(13);
  position: fixed;
  top: 0;
  padding: .438em;
  width: 100%;
  background: $primary-clr-500;
  text-align: center;
}

// Set base font
html {
  font-size: $base-font+px;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: $main-font;
  line-height: 1.2;
  color: $txt-clr-800;
  background-color: $secondary-clr-700;
}

.block {
  &__heading,
  &__body {
    &:not(:last-child) {
      margin-bottom: 3.462em;

      @include media(min, $md) {
        margin-bottom: 3.750em;
      }
    }
  }

  &__heading {
    text-align: center;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__title {
    text-transform: uppercase;

    &--colored span {
      color: $primary-clr-500;
    }
  }
}

// Base button style
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-weight: $semi-bold;
  color: $txt-clr-800;
  background: $txt-clr-100;
  border: 1px solid $txt-clr-300;
  text-transform: uppercase;
  transition: $transition;

  @include media(min, $sm) {
    max-width: 200px;
  }

  @media (any-hover: hover) {
    &:hover {
      background: $primary-clr-500;
      color: $txt-clr-100;
      border-color: $primary-clr-500;
    }
  }
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.is-blur {
  main,
  footer {
    filter: blur(2px);
  }
}

// Custom general layout style for all pages in project
.container {
  max-width: $container-width;
  padding: 0 1.25em;
  margin: 0 auto;
}

section {
  margin: 5.625em 0;
}

// Accordion
.accordion {
  &__item {
    border-bottom: 1px solid $txt-clr-300;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__body,
  &__title {
    padding: .938em;
  }

  &__title {
    @include font-size(18);
    cursor: pointer;

    &.active {
      color: $primary-clr-500;
    }

    & p {
      padding-right: 2.5em;
    }
  }
}

.collapse-icon {
  position: relative;
  transition: $transition;

  &:after,
  &:before {
    content: '';
    @include centering(y);
    width: 24px;
    height: 2px;
    background: $txt-clr-300;
    right: 1.125rem;
    transition: $transition;
  }

  &:before {
    transform: rotate(90deg);
  }

  &.active:before {
    transform: rotate(180deg);
  }

  &.active:after {
    background: $primary-clr-500;
  }
}

// Tabs
.tabs__navigation {
  display: none;

  @include media(min, $md) {
    display: flex;
  }

  &-link {
    padding: 1.25em 1.563em;
    color: inherit;
    border-bottom: 1px solid $primary-clr-500;

    &.active {
      background-color: $primary-clr-500;
      color: $txt-clr-100;
    }
  }
}

.tabs__content {
  @include media(max, $md) {
    display: flex;
    flex-direction: column;
  }

  @include media(min, $md) {
    padding: 1.563em 0;
  }
}

.tab {
  @include media(max, $md) {
    margin-bottom: 1.25em;
    padding-bottom: 1.25em;
    border-bottom: 1px solid $txt-clr-300;
  }

  @include media(min, $md) {
    display: none;
  }

  &.active {
    display: block;
  }
}

.mob-tab {
  &-nav {
    @include media(min, $md) {
      display: none;
    }
    @include media(max, $md) {
      &.active + .mob-tab-content {
        display: block;
      }
    }

    & h3 {
      margin-bottom: 0;
      padding-right: 2.2em;
    }

    &.active {
      color: $primary-clr-500;
    }
  }

  &-content {
    margin-top: .75em;

    @include media(max, $md) {
      display: none;
    }
  }
}

// Likes block
.like {
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto .938em;
    width: 55px;
    height: 55px;
    background: rgba(153, 153, 153, .2);
    backdrop-filter: blur(2px);
    color: inherit;
    border: 0;
    cursor: pointer;
    transition: $transition;

    @include media(min, $lg) {
      width: 72px;
      height: 72px;
    }

    &:hover {
      background-color: $likes-bg;
      color: $primary-clr-300;
    }

    &:active {
      background-color: transparent;
    }

    &[data-is-liked="true"] {
      pointer-events: none;
      background-color: $likes-bg;
      color: $primary-clr-500;
    }
  }

  &__content {
    @include font-size(20);
    font-style: italic;

    @include media(min, $lg) {
      @include font-size(32);
    }
  }

  &__counter {
    font-weight: $semi-bold;
    color: $primary-clr-500;
  }
}
