// Default layout style. could be removed or changed in further
// No script message
.no-script-msg {
  @include font-size(13);
  position: fixed;
  top: 0;
  padding: .438em;
  width: 100%;
  background: $main-clr;
  text-align: center;
}

// Set base font
html {
  font-size: $base-font+px;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: $main-font;
  line-height: 1.2;
  color: $txt-clr;
}

.block {
  &__heading,
  &__body {
    margin-bottom: 3.462em;

    @include media(min, $md) {
      margin-bottom: 6.154em;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__title {
    text-transform: uppercase;

    &--colored span {
      color: $main-clr;
    }
  }
}

// Video, google map, iframe
.video-wrapper,
.iframe-wrapper,
.responsive-wrapper {
  position: relative;
  padding-top: 50%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-weight: $semi-bold;
  color: $btn-txt;
  background: $btn-clr;
  border: 1px solid $btn-border-clr;
  text-transform: uppercase;
  transition: $transition;

  @include media(min, $sm) {
    max-width: 200px;
  }

  @media (any-hover: hover) {
    &:hover {
      background: $btn-clr-hover;
      color: $btn-txt-hover;
      border-color: $btn-border-clr-hover;
    }
  }
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.is-blur {
  main,
  footer {
    filter: blur(2px);
  }
}

// Custom general layout style for all pages in project
.container {
  max-width: 1295px;
  padding: 0 1.25em;
  margin: 0 auto;
}
