// Form style
.form {
  &__heading,
  &__body,
  &__footer {
    &:not(:last-child) {
      margin-bottom: 2.286em;
    }
  }

  &__submit-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
  }

  &__group:not(:last-child) {
    margin-bottom: 20px;
  }

  &__label-name {
    display: block;
    margin-bottom: .556em;
  }

  &__input,
  &__textarea {
    padding: 10px 15px;
    width: 100%;
    color: $txt-clr-800;
    border-radius: 0;
    border: 1px solid $txt-clr-300;
    background-color: $txt-clr-100;
    transition: $transition;

    &:focus {
      border-color: $primary-clr-500;
    }

    &:hover {
      box-shadow: $shadow;
    }
  }

  &__input {
    height: 50px;
  }

  &__textarea {
    min-height: 150px;
  }
}

// Custom form radio and checkbox
.radio {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: .556em;

  @include media(min, $lg) {
    cursor: pointer;
  }

  &__input {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid $txt-clr-300;
    background-color: $txt-clr-100;

    &:checked {
      border-color: $primary-clr-500;
    }
  }

  &__name {
    padding-left: 10px;
  }
}

.radio__input {
  border-radius: 50%;

  &:checked + .radio__name {
    &:before {
      @include pseudo();
      transform: translateY(-50%);
      top: 50%;
      left: 4px;
      width: 12px;
      height: 12px;
      background: $primary-clr-500;
      border-radius: 50%;
    }
  }
}

// Custom form file
.form-file {
  position: relative;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}

// Custom form range
.form-range {
  &__name {
    display: block;
    margin-bottom: .556em;
  }

  &__input {
    width: 100%;
    appearance: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      margin-top: -10px;
      width: 25px;
      height: 25px;
      border: 3px solid $border-clr;
      background: $txt-clr-100;
      border-radius: 50%;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      appearance: none;
      margin-top: -10px;
      width: 25px;
      height: 25px;
      border: 3px solid $border-clr;
      background: $txt-clr-100;
      border-radius: 50%;
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      height: 6px;
      border-radius: 10px;
      background-color: $txt-clr-100;
    }

    &::-moz-range-track {
      height: 6px;
      border-radius: 10px;
      background-color: $txt-clr-100;
    }
  }
}

select {
  width: 100%;
}
