// Fonts
// ------- Default font -------
$sans: 'Helvetica', 'Verdana', 'Arial', sans-serif;

// ------- Custom fonts -------
$main-font: 'Montserrat', $sans;

// Fonts sizes
$base-font: 16;

// Fonts weight
$regular: 400;
$semi-bold: 600;

// Breakpoints
$xs: 375;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;
$xxl: 1400;

// Colors
$main-clr: #2a75db;
$secondary-clr: #4d0d5a;

$txt-clr: #10101d;
$txt-clr-bg: #eee;

$btn-clr: #eee;
$btn-txt: #10101d;
$btn-border-clr: #10101d;
$btn-clr-hover: #2a75db;
$btn-txt-hover: #eee;
$btn-border-clr-hover: #eee;

$border-clr: #ccc;
$border-clr-focus: #333;

$link-hover-clr: #2a75db;
//$link-hover-clr: #ff7000;
$active-clr: #c8cdff;

// Other
$transition: .2s ease;
